@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.form-container {
    visibility: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.61);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 5rem 10rem;
    border-radius: 15px;
    text-align: center;
}

[type|="text"] {
    padding: 0.2rem;
    border-radius: 5px;
    border: solid 1px rgb(85, 0, 0);
    margin-top: 0.2rem;
}

form button {
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease;
}

.cancelButton {
    background-color: rgba(85, 0, 0, 0.774);
}

.cancelButton:hover {
    box-shadow: 0px 0px 5px 2px rgba(255,0,0,1);
    cursor: pointer;
}

.submitButton {
    background-color: rgba(0, 117, 0, 0.774);
}

.submitButton:hover {
    box-shadow: 0px 0px 5px 2px rgb(21, 255, 0);
    cursor: pointer;
}

body {
    background-image: url("../images/background.jpg");
    background-size: 20rem;
}

h1 {
    text-align: center;
    padding: 2rem 0;
    color: white;
}

.bookshelf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding: 4rem;
}


@media only screen and (max-width: 1000px){
    .bookshelf { grid-template-columns: repeat(3, 1fr); }
}

@media only screen and (max-width: 850px){
    .bookshelf { grid-template-columns: repeat(2, 1fr); }
}

@media only screen and (max-width: 600px){
    .bookshelf { grid-template-columns: repeat(1, 1fr); }
}



.card {
    min-height: 15rem;
    background-color: rgb(211, 93, 39);
    border-radius: 5px;
    box-shadow: 3px 5px 25px -3px rgba(0,0,0,1);
    -webkit-box-shadow: 3px 5px 25px -3px rgba(0,0,0,1);
    -moz-box-shadow: 3px 5px 25px -3px rgba(0,0,0,1);
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.book {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-info {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;   
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.925);
    text-shadow: 2px 2px #272727;
}

.author, .pages{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.925);
}

.book-buttons {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}

.book-buttons button {
    width: 2rem;
    height: auto;
    background-color: transparent;
}

.read {
    border: solid 3px rgb(0, 196, 0);
    border-radius: 5px;
    transition: all 1 ease;
    background-image: url(../SVGs/read.svg);
    background-size: 100%;
}

.unread {
    border: solid 3px rgb(255, 0, 0);
    border-radius: 5px;
    transition: all 1 ease;
    background-image: url(../SVGs/unread.svg);
    background-size: 100%;
}

.remove {
    border: solid 3px red;
    border-radius: 5px;
    background-image: url(../SVGs/remove.svg);
    background-size: 100%;
}

.read:hover {
    background-color: rgba(0, 255, 0, 0.205);
}

.unread:hover {
    background-color: rgba(255, 0, 0, 0.205);
}


.remove:hover {
    background-color: rgba(255, 0, 0, 0.233);
}